:root {
  --grey-color: rgb(228, 228, 228);
  --darker-grey-color: rgb(189, 189, 189);
  --text-color: rgb(60, 60, 60);
  --border-radius: 15px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  user-select: none;
  font-family: "Fredoka";
  color: var(--text-color);
}

.wrapper {
  height: 60vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

h1 {
  width: 100%;
  font-weight: 600;
  text-align: left;
}

.top__container {
  margin-top: 50px;
  width: 100%;
  height: 250px;
}

.image_text__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

img {
  width: 20%;
  display: block;
}

.original__text {
  border: 2px solid var(--grey-color);
  padding: 1em;
  width: auto;
  border-radius: var(--border-radius);
  margin-left: 20px;
  font-size: 1.2em;
}

span {
  display: inline-block;
  border-bottom: 2px dashed var(--darker-grey-color);
}

#destination__container {
  padding: 0.5em 0;
  height: 60px;
  width: 100%;
  border-top: 2px solid var(--grey-color);
  border-bottom: 2px solid var(--grey-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#origin__container {
  padding: 3em 0;
  width: 100%;
  /* border-top: 2px solid var(--grey-color);
  border-bottom: 2px solid var(--grey-color); */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.word {
  position: relative;
  border: 1px solid var(--grey-color);
  background-color: white;
  margin: 0 0.2em;
  padding: 0.5em 1em;
  border-radius: var(--border-radius);
  box-shadow: 0px 3px 0px 0px var(--grey-color);
  transition: 0.2s transform ease-in-out;
  cursor: pointer;
  z-index: 1;
  font-size: 1.2em;
  font-weight: 400;
}

.word:active {
  transform: translateY(2px);
  box-shadow: none;
}
